* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container{
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 0;
    padding: 0;
    top: -19px;
    left: 168px;
    box-sizing: border-box;   
}

.header{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 16px 120px;
    gap: 153px;    
    width: 100%;
    height: 9vh;        
    background: #F1F5FE;    
}

.header-name{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 259.08px;
    height: 54.08px;
    width: 50%;   
    font-size: 33.28px; 
    font-weight: 700px;
    font-family: 'Manrope', sans-serif;
    color: #155EEF;
}

.header-logo{
    width: 54.08px;
    height: 54.08px;
}

.nav-link{    
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 97px;
    width: 439px;
    height: 44px;   
}

ul{
    display: flex;
    width: 100%;    
}

.nav-link li{    
    list-style: none;
    display: inline;
    width: 100%;
    font-size: 24px; 
    font-family: 'Halant';     
}

.link{
    padding-top: 5px;
}

.link a{     
    width: 66px;
    height: 24px;    
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 100%;
    color: #000000;
    text-decoration: none; 
}

.link a:visited {
    border-bottom:2px solid #155EEf;
}

.link a:hover {
    border-bottom: 2px solid #155EEf;
}

.nav-link .link a:active {
    border-bottom:2px solid #155EEf;
}
  
li button{
    height: 44px;
    width: 94px;
    left: 346.5px;
    top: 0px;
    border: 1px solid #155EEF;
    border-radius: 8px;
    padding: 10px 16px 10px 16px;
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 700;
    font-size: 15px;
    line-height: 150%;
    letter-spacing: 0.5px;
    color: #155EEF;
}

.bio{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 535px;
    background: #000000;
    justify-content: flex-start;
    align-items: center;
}

.bio-info{
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 65%;
    padding-left: 5%;
}

.bio-2{
    width: 51px;
    height: 48px;    
    font-family: 'Halant', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 32px;
    padding-top: 102px;
    color: #B8B8B8;
}

.bio h1{
    width: 840px;
    height: 67px;     
    padding-top: 40px;
    font-family: 'Halant', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 56px;
    color: #FFFFFF;    
}

.bio p{
    width: 818px;
    height: 144px;
    padding-top: 60px;
    font-family: 'Manrope', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 32px;
    line-height: 150%;
    color: #A3A3A3;
}

.bio button{        
    padding: 10px 16px;
    gap: 10px;
    width: 164px;
    height: 44px;
    margin-top: 70px;
    background: #155EEF;
    color: white;
    border: 1px solid #155EEF;
    border-radius: 8px; 
}

.joygirl-img{
    justify-content: center;
    /* width: 28%; */
    right: 6.5%;
    top: 56px;
}

.joygirl-img img{
    width: 100%;
}

.about-me{   
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 547px;
    background: #f5f8fe;
    align-items: center;
    justify-content: center;
}

.joygirl-img2{
    width: 75%;
}

.joygirl-img2 img {
    width: 50%;
    margin-left: 10%;
}

.about-info{
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 60%;
}

.about-me h2{    
    margin-top: 8%;
    height: 50px;
    font-family: 'Halant', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 32px;
    line-height: 50px;
    color: #000000;
}

.about-me p{
    height: 180px;
    width: 575px;  
    font-family: 'Manrope', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 36px;
    text-align: justify;
    letter-spacing: 0.5px;
    color: #000000;
}

.about-me button {    
    width: 160px;
    height: 44px;
    border-radius: 8px;
    border: 2px solid #155EEF;
}

.about-me button:first-of-type{
    position: absolute;
    background: #155EEf;
    color: white;
    margin-top: 19%;
}

.about-me button:nth-of-type(2){
    position: absolute;
    right: 25%;
    margin-top: 19%;
    color: #155EEf;   
}

footer{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 16px 120px;
    position: absolute;
    width: 100%;
    height: 88px;
    left: 0px;
    top: 1117px;
    background: #080808;
}

footer section{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0px;
    width: 424px;
    height: 54.08px;
}

footer h1{
    color: white;
    font-family: 'Manrope', sans-serif;
    width: 205px;
    height: 50px;
    font-weight: 700;
    font-size: 33.28px;
    line-height: 50px;
    letter-spacing: -0.02em;

}

footer ul{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0px;
    gap: 32px;
    width: 424px;
    height: 24px;
}

footer ul li{   
    left: 8.33%;
    right: 8.33%;
    top: 8.33%;
    bottom: 8.54%;
}

footer h2{
    width: 309px;
    height: 36px;    
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 150%;
    letter-spacing: 0.5px;
    color: #FFFFFF;
}

  @media only screen and (max-width:944px){

    * {
        padding: 0;
        margin: 0;
        box-sizing: border-box;
        overflow: hidden;    
    }

    body{
        min-height: 100%;
        margin-bottom: 0px;
}
    
    .container{
        display: flex;
        flex-direction: column;
        width: inherit;
        margin: 0;
        text-align: center;
        box-sizing: border-box; 
         
    }
    
    .header{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        padding: 0px 0px;
        gap: 0;    
        width: 100%;
        height: 5vh;        
        background: #F1F5FE;    
    }
    
    .header-name{
        display: flex;
        flex-direction: row;
        align-items: center;   
        font-size: 16px; 
        font-family: 'Manrope', sans-serif;
        color: #155EEF;
    }
    
    .header-logo{
        width: 54.08px;
        height: 54.08px;
    }
    
    .nav-link{    
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 0px;
        gap: 97px;
        width: 439px;
        height: 44px;   
    }
    
    ul{
        display: flex;
        width: 100%;    
    }
    
    .nav-link li{    
        list-style: none;
        display: inline;
        width: 100%;
        font-size: 24px; 
        font-family: 'Halant';     
    }
    
    .link{
        padding-top: 5px;
    }
    
    .link a{     
        width: 66px;
        height: 24px;    
        font-style: normal;
        font-weight: 500;
        font-size: 24px;
        line-height: 100%;
        color: #000000;
        text-decoration: none; 
    }
    
    .link a:visited {
        border-bottom:2px solid #155EEf;
    }
    
    .link a:hover {
        border-bottom: 2px solid #155EEf;
    }
    
    .nav-link .link a:active {
        border-bottom:2px solid #155EEf;
    }
      
    li button{
        height: 44px;
        width: 94px;
        left: 346.5px;
        top: 0px;
        border: 1px solid #155EEF;
        border-radius: 8px;
        padding: 10px 16px 10px 16px;
        font-family: 'Manrope';
        font-style: normal;
        font-weight: 700;
        font-size: 15px;
        line-height: 150%;
        letter-spacing: 0.5px;
        color: #155EEF;
    }
    
    .bio{
        display: flex;
        flex-direction: column-reverse;
        width: 100%;
        height: 55vh;
        background: #000000;
        justify-content: center;
        align-items: center;
    }
    
    .bio-info{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 201px;
        width: 100%;
        padding: 0%;
    }
    
    .bio-2{
        width: 100%;    
        font-family: 'Halant', sans-serif;
        font-style: normal;
        font-weight: 600;
        font-size: 16px;
        padding-top: 1%;
        color: #B8B8B8;
    }
    
    .bio h1{
        width: 840px;
        height: 67px;     
        padding-top: 0;
        font-family: 'Halant', sans-serif;
        font-style: normal;
        font-weight: 600;
        font-size: 24px;
        color: #FFFFFF;    
    }
    
    .bio p{
        width: 65%;
        padding-top: 2%;
        font-family: 'Manrope', sans-serif;
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 150%;
        color: #A3A3A3;
    }
    
    .bio button{        
        margin-top:15px;
        width: 90%;
        height: 44px;
        margin-top: 2%;
        background: #155EEF;
        color: white;
        border: 1px solid #155EEF;
        border-radius: 8px; 
    }
    
    .joygirl-img{
        height: 55%;
        width: auto;
    }
    
    .joygirl-img img{
        width: 100%;
        height: 100%;
    }
    
    .about-me{   
        display: flex;
        flex-direction: row;
        width: 100%;
        height: 35vh;
        background: #f5f8fe;
        align-items: center;
        justify-content: center;
    }
    
    .joygirl-img2{
        visibility: hidden;
        width: 0;
    }
    
    .about-info{
        display: flex;
        flex-direction: column;
        height: 100%;
        width: 60%;
    }
    
    .about-me h2{    
        margin-top: 2%;
        height: 50px;
        font-family: 'Halant', sans-serif;
        font-style: normal;
        font-weight: 600;
        font-size: 24px;
        line-height: 50px;
        color: #000000;
    }
    
    .about-me p{
        height: 45%;
        width: 100%;  
        font-family: 'Manrope', sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 36px;
        text-align: left;
        letter-spacing: 0.5px;
        color: #000000;
    }
    
    .about-me button {   
        position: fixed; 
        width: 160px;
        height: 44px;
        border-radius: 8px;
        border: 2px solid #155EEF;
    }
    
    .about-me button:first-of-type{
        position: fixed;
        background: #155EEf;
        color: white;
        margin-top: 27%;
    }
    
    .about-me button:nth-of-type(2){
        position: fixed;
        right: 25%;
        margin-top: 27%;
        color: #155EEf;   
    }
    
    footer{
        position:relative;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        padding: 16px 120px;
        position: absolute;
        width: 100%;
        height: 8vh;
        left: 0px;
        background: #080808;
    }
    
    footer section{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        padding: 0px;
        width: 424px;
        height: 54.08px;
    } 
    
    footer h1{
        color: white;
        font-family: 'Manrope', sans-serif;
        width: 205px;
        height: 50px;
        font-weight: 700;
        font-size: 24px;
        line-height: 50px;
        letter-spacing: -0.02em;
    
    }
    
    footer ul{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding: 0px;
        gap: 32px;
        width: 424px;
        height: 24px;
    }
    
    footer ul li{   
        left: 8.33%;
        right: 8.33%;
        top: 8.33%;
        bottom: 8.54%;
    }
    
    footer h2{
        width: 309px;
        height: 36px;    
        font-family: 'Manrope';
        font-style: normal;
        font-weight: 500;
        font-size: 24px;
        line-height: 150%;
        letter-spacing: 0.5px;
        color: #FFFFFF;
    }   
}

